/* HTML elements */

main {
    display: flex;
    margin: 50px;
    padding-top: calc(12vh + 40px);
}


/* HTML classes */

.gamepage-header {
    height: 12vh;
    & h1 {
        font-size: clamp(1rem, 4.8vw, 4.8vh);
        line-height: 1.2;
    }
}

.left-section {
    width: 40%;
}

.right-section {
    width: 60%;
}
