/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS at-rules */

@font-face {
    font-family: 'Freeman';
    src: url('fonts/Freeman/Freeman-Regular.ttf');
}

@keyframes backlight {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 123, 255, 1), 0 0 40px rgba(0, 123, 255, 0.7);
    }
}


/* Page Sections */

body {
    font-family: 'Freeman', sans-serif;
    background-color: #E1E1E1;
    color: #002E4C;
}

header {
    background: #1C8CDB;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

nav {
    background-color: #002E4C;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    box-shadow: 0 8px 30px gray;
    & ul li {
        display: inline;
        margin: 0 20px;
        & a {
            color: white;
            text-decoration: none;
        }
    }
}

footer {
    background: #1C8CDB;
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -8px 30px gray;
    & ul {
        max-width: fit-content;
        margin: auto;
        list-style-type: none;
        display: flex;
        & li {
            margin: 10px;
        }
    }
}


/* Globally Used Styles */

.item-hover {
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.header-and-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.head-text {
    & label {
        font-size: clamp(1rem, 3.5vw, 3.5vh);
    }
}
