/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Freeman';
    src: url('fonts/Freeman/Freeman-Regular.ttf');
}

body {
    font-family: 'Freeman', sans-serif;
    background-color: #E1E1E1;
    color: #002E4C;
}

header {
    background: #1C8CDB;
    padding-left: 50px;
}

.main-header {
    height: 15vh;
    line-height: 15vh;
    & h1 {
        font-size: 4vw;
    }
}

.game-header {
    height: 12vh;
    line-height: 12vh;
    & h1 {
        font-size: 3vw;
    }
}

nav {
    background-color: #002E4C;
    height: 44px;
    line-height: 44px;
    padding-left: 50px;
    box-shadow: 0 8px 30px gray;
    & ul li {
        display: inline;
        margin: 0 20px;
        & a {
            color: white;
            text-decoration: none;
        }
    }
}

main {
    padding: 50px;
}

.levels-container {
    max-width: fit-content;
    margin: auto;
}

.level-container {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    & img {
        object-fit: cover;
    }
    & label {
        display: block;
        margin: 20px 0;
        font-size: 2vw;
    }
}

.level-frame {
    width: 280px;
    height: 280px;
    border-radius: 20px;
    &:hover {
        animation: backlight 0.2s linear forwards;
    }
}

.img-hover {
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

@keyframes backlight {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 123, 255, 1), 0 0 40px rgba(0, 123, 255, 0.7);
    }
}

footer {
    background: #1C8CDB;
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -8px 30px gray;
    & ul {
        max-width: fit-content;
        margin: auto;
        list-style-type: none;
        display: flex;
        & li {
            margin: 15px 10px;
        }
    }
}
