<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hangman</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="gamepage.css">
    <script src="index.js" type="module"></script>
</head>
<body>
    <div class="header-and-nav">
        <header class="gamepage-header">
            <h1>Sports</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">How to Play</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <section class="left-section">
            <p>This will display the stick figure.</p>
        </section>
        <section class="right-section">
            <div id="game-instructions" class="head-text">
                <label>You have 6 attempt(s) remaining.</label>
                <br><br>
                <label>Guess a letter below:</label>
            </div>
            <br><br><br><br>
            <div class="head-text">
                <label id="current-word">___ ______</label>
            </div>
            <br><br><br>
            <div id="keyboard-container"></div>
        </section>
    </main>

    <footer>
        <ul>
            <li><a target="_blank" href="https://www.google.com">
                <img src="icons/icons8-instagram.svg" class="img-hover" />
            </a></li>
            <li><a target="_blank" href="https://www.google.com">
                <img src="icons/icons8-facebook.svg" class="img-hover" />
            </a></li>
            <li><a target="_blank" href="https://github.com/jawuanlewis">
                <img src="icons/icons8-github.svg" class="img-hover" />
            </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jawuan-lewis">
                <img src="icons/icons8-linkedin.svg" class="img-hover" />
            </a></li>
        </ul>
    </footer>
</body>
</html>
