<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hangman</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="gamepage.css">
    <script src="gameLogic.js" defer></script>
</head>
<body>
    <div class="header-and-nav">
        <header class="gamepage-header">
            <h1 id="level-title"><%= level %></h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="/" class="nav-option">Home</a></li>
                <!-- <li><a href="/">How to Play</a></li> -->
            </ul>
        </nav>
    </div>

    <main>
        <section class="left-section">
            <div id="hangman-background">
                <svg id="hangman-display"
                    viewBox="0 0 400 400" 
                    preserveAspectRatio="xMidYMid meet">

                    <line x1="50" y1="350" x2="350" y2="350" stroke="#B87844" stroke-width="10" /> <!-- Base -->
                    <line x1="70" y1="350" x2="70" y2="50" stroke="#B87844" stroke-width="10" /> <!-- Pole -->
                    <line x1="50" y1="50" x2="250" y2="50" stroke="#B87844" stroke-width="10" />  <!-- Top Beam -->
                    <line x1="70" y1="100" x2="120" y2="50" stroke="#B87844" stroke-width="8" />  <!-- Support Beam -->
                    <line x1="200" y1="50" x2="200" y2="100" stroke="#B87844" stroke-width="6" /> <!-- Rope -->

                    <!-- Stick Figure Parts -->
                    <circle id="head" cx="200" cy="130" r="30" stroke="white" fill="none" stroke-width="3" visibility="hidden" />
                    <line id="torso" x1="200" y1="160" x2="200" y2="250" stroke="white" stroke-width="3" visibility="hidden" />
                    <line id="right-arm" x1="200" y1="180" x2="160" y2="220" stroke="white" stroke-width="3" visibility="hidden" />
                    <line id="left-arm" x1="200" y1="180" x2="240" y2="220" stroke="white" stroke-width="3" visibility="hidden" />
                    <line id="right-leg" x1="200" y1="250" x2="170" y2="320" stroke="white" stroke-width="3" visibility="hidden" />
                    <line id="left-leg" x1="200" y1="250" x2="230" y2="320" stroke="white" stroke-width="3" visibility="hidden" />
                </svg>
            </div>
        </section>
        <section class="right-section">
            <div class="head-text">
                <label id="status-message"><%= statusMessage %></label>
                <br><br>
                <label id="extra-message"><%= extraMessage %></label>
            </div>
            <br><br><br><br>
            <div class="head-text">
                <label id="current-progress"><%= currentProgress %></label>
            </div>
            <br><br><br>
            <% if (gameOver) { %>
                <div id="keyboard-container" style="display: none;"></div>
                <div id="game-end-container"></div>
            <% } else { %>
                <div id="keyboard-container"></div>
                <div id="game-end-container" style="display: none;"></div>
            <% } %>
        </section>
    </main>

    <footer>
        <ul>
            <li><a target="_blank" href="https://www.google.com">
                <img src="icons/icons8-instagram.svg" class="item-hover" />
            </a></li>
            <li><a target="_blank" href="https://www.google.com">
                <img src="icons/icons8-facebook.svg" class="item-hover" />
            </a></li>
            <li><a target="_blank" href="https://github.com/jawuanlewis">
                <img src="icons/icons8-github.svg" class="item-hover" />
            </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jawuan-lewis">
                <img src="icons/icons8-linkedin.svg" class="item-hover" />
            </a></li>
        </ul>
    </footer>
</body>
</html>
